.list {
  margin: 10px auto 50px auto;
  width: 90%;
  height: 70vh;
  padding: 0px 10px;

  border: 1px solid #ddd;
  border-radius: 5px;

  box-shadow: 0px 0px 10px #ddd;

  overflow: auto;
}

.listBody {
  display: inline-block;
  padding: 0px;

  border: 1px solid #ddd;
  border-radius: 5px;

  font-size: 15px;
}

.listItem {
  display: grid;
  grid-template-columns: repeat(36, 125px);

  padding: 10px 15px;
  margin-right: 1px;
  border-bottom: 1px solid #ddd;
}

.listTotal {
  display: grid;
  grid-template-columns: 175px repeat(4, 120px);

  padding: 10px 15px;
  margin-right: 1px;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
}

.listItem:last-child {
  border-bottom: none;
}

.subItem {
  text-align: center;
}

.subItemAddress {
  color: black;
  text-decoration: none;
}

.subItemTeam:hover {
  color: #555;
  text-decoration: underline;
}
