.listHeader {
    display: grid;
    grid-template-columns: repeat(7, 125px);

    position: sticky;
    top: 0;

    padding: 15px 17px;
    border-bottom: .5px solid #aaa;
    width: fit-content;
    background-color: white;

    font-weight: bold;
    font-size: 15px;
}

.headerItem {
    text-align: center;
}
