$accordion-border: 1px solid rgba(0,0,0,.125);
$standard-border: 1px solid hsl(0, 0%, 80%);
$font-color: hsl(0, 0%, 50%);
$light-font-color: #6c757d;

.container {
  margin: auto;
  margin-top: 20px;
  width: 90%;
  padding: 20px;

  border: 1px solid #ddd;
  border-radius: 5px;

  box-shadow: 0px 0px 10px #ddd;

  display: flex;
  flex-wrap: wrap;
}

.header {
  font-size: 1.4em;
  margin: auto;
  white-space: nowrap;
}

.pageLabel {
  margin: 0px;
  padding-right: 7px;
  color: $font-color;
}

.accordion {
  margin: auto;

  [class*="accordion-button"] {
    margin: auto;
    height: 30px;
    justify-content: center;
    padding: 1rem;

    border: 1px solid transparent;
    color: $font-color;
    background-color: #fff;
    box-shadow: none;

    &:hover {
      background-color: hsl(0deg, 0%, 95%);
    }

    &:focus-visible {
      border: 1px solid #2684ff;
    }

    &:not([class*="collapsed"])::after {
      background-image: url('../../public/drop-chevron.svg');
      transform: rotate(-180deg) translateY(-1px);
    }

  }

  ::after {
    width: 1em;
    height: .9em;
    background-size: 1em;
    margin: 0 0px 0 5px;
    color: hsl(0, 0%, 80%);
    background-image: url('../../public/drop-chevron.svg');

  }

  [class*="accordion-collapse"] {
    border: $accordion-border;
    min-width: 550px;
    background-color: white;
    position: absolute;
    z-index: 1;
  }
}

.accordion-button:not(.collapsed)::after {
  background-image: url('../../public/drop-chevron.svg');
  transform: rotate(-180deg);
}
